{% extends 'base.html' %}

{% block body %}
    <div class='container'>
        <br>
        <br>
        
        <h2 class='content'>Welcome to <span style="color:grey  ">ROHIT's space</span></h2>
        <br>
        <br>
        <div class="container" id="design">
            
        <p>
            This website contains 2 Apps- 
            <br>
            1.)Face App which uses Support Vector Classifier(Machine Learning algorithm) to classify human face
               as men or women with percentage confidence for the prediction.
               <br>  
            2.) The other app uses Stochastic Gradient descent algorithm to classify images among different categories and gives likelihood percentage for each classification.
        </p>
        <br>
        <p>
            <h6>Please feel free to visit the About Me page, in which I have talk about my interest,qualifacations and about the website.</h6>
            <br>
            <br>

            <h5> !!! THANK YOU FOR VISITING !!!</h5>
        </p>

        </div>

    </div>

<style>
    #design{
        background-color: #D8D8D8;
    }
</style>



{%endblock%}





